
<h2>Crear Empleado</h2>

<form action="/Employee/Create" method="post" >
    
    <tag>Nombre</tag>
    <input required type="text" name="FirstName"/>

    <tag>Apellido</tag>
    <input required type="text" name="LastName"/>

    <tag>Pais</tag>
    <input required type="text" name="Country"/>

    <tag>Fecha de incorporacion</tag>
    <input type="date" name="HireDate"/>

    <tag>Turno</tag>
    <div class="radio"> 
        <label><input type="radio" name="ShiftID" value="1">Turno Mañana</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="ShiftID" value="2">Turno Tarde</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="ShiftID" value="3">Turno Noche</label>
    </div>
    <button type="submit" class="btn-default">Confirmar</button>
</form>