
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<html>
<head>
    <title></title>
</head>
<body>
    <form action="/Country/Edit" method="post">
        <tag>Ingrese el nombre</tag>
        <input type="text" name="country"/>
        <button style="background-color : dodgerblue; color : white" type="submit" value="@ViewBag.name" name="name" class="btn btn-group">Enviar</button>
        <button style="background-color : white; color : black" type="submit" class="btn-default" href="/Country/Index"> Cancelar</button>
    </form>
</body>
</html>