@model List<Services.DTO.CountryDTO>
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <title>Menu de paises</title>
</head>
<body>
    <table class="panel-group">
        <tr>
            <th>Nombre</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CountryName
                </td>
                <td>
                    <form action="/Country/Edit">
                        <button class="btn btn-group" value="@item.CountryName" name="name" type="submit">Actualizar</button>
                    </form>
                </td>
                <td>
                    <form action="/Country/Delete" method="post">
                        <button class="btn btn-group" value="@item.CountryName" name="country" type="submit">Borrar</button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <form class="form-group" method="post" action="/Country/Create">
        <input type="text" name="CountryName" />
        <button type="submit" class="success">Crear Nuevo Pais</button>
    </form>
</body>
</html>