@model List<Services.DTO.ShiftDTO>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registro de Horarios</title>
</head>
<body>
    <div class="form-group">
        <label for="sel1">Select list:</label>
        <select class="form-control" id="sel1">
            @foreach (var shift in Model)
            {
                <option>@shift.Name</option>
            }
        </select>
    </div>
</body>
</html>