
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registro de Horarios</title>
</head>
<body>
    <div class="form-group">
        <label for="sel1">Select list:</label>
        <select class="form-control" id="sel1">
            <option>Turno Mañana</option>
            <option>Turno Tarde</option>
            <option>Turno Noche</option>
        </select>
    </div>
</body>
</html>